.App {
  text-align: center;
  color:white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  /* color: white; */
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

fieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5C636F ;
  color: #A0A6BA;
  margin: 0em;
  height: 215px;
  width: 480px;
  padding: 1em;
}

.box {
  display: flex;
  justify-content: center;
  padding: 10em;
}

legend {
  display: flex;
  flex-direction: column;
}


label {
  display: block;
  margin: 0.5em;
}